.pricing_section .pricing_pannel .pricing_block .price {
    font-size: 40px;
}
.pricing_section .pricing_pannel .pricing_block.highlited_block {
    /* background-color: #f9cf36; */
    background-color: #ffe30d;
    /* #ffe30d */
}
.pricing_section .pricing_pannel .pricing_block .icon img {
    width: 100px;
}
.pricing_section .pricing_pannel .pricing_block.highlited_block p, .pricing_section .pricing_pannel .pricing_block.highlited_block h3, .pricing_section .pricing_pannel .pricing_block.highlited_block span, .pricing_section .pricing_pannel .pricing_block.highlited_block .pkg_name span {
    color: black;
    /* color: var(--text-white); */
}
.pricing_section .pricing_pannel .pricing_block {
    min-height: 550px;
}
.how_it_works .step_block ul li .step_number {
    background-image: url(../images/icon_bg_yellow.png);
}
.features_section .feature_detail .left_data .data_block .icon {
    margin-right: 0;
    margin-bottom: 10px;
}
.features_section .feature_detail .left_data .data_block .icon img {
    width: 80px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.features_section .feature_detail .right_data .data_block .icon {
    margin-left: 0;
    margin-bottom: 10px;
}
.features_section .feature_detail .right_data .data_block .icon img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.how_it_works .how_it_inner {
    padding-bottom: 0px;
}
footer .top_footer {
    background-color: #343131;
}
footer .bottom_footer {
    background-color: #fef102;
}
.about_app_section .about_img::before {
    left: 17%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    width: 300px;
    height: 300px;
}
.android-apk-direct-download {
    display: block;
    width: 20%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 8px grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.android-apk-direct-download:hover {
    transition: ease 0.5s;
    width: 21%; 
}
.direct-download-icon {
    width: 30%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 8px grey;
}
.app-store {
    width: 29%;
    left: 4%;
}
.ios-tutorial {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ios-testflight-download {
    width: 20%;
}
.ios-testflight-download:hover {
    width: 22%;
}
.footer-download {
    width: 90%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 8px grey;
}
.download-section {
    margin-bottom: 50px;
}
.section_title h2 {
    font-size: 30px;
    font-weight: 700;
}
.android-title {
    color: #0da141 !important;
}
.ios-title {
    color: #165a93 !important;
}
.android-tv-title {
    color: #a34a0b !important;
}
@media screen and (max-width: 600px) {
    .android-apk-direct-download {
        width: 35%;
        margin-top: 30px;
    }
    .android-apk-direct-download:hover {
        width: 35%;
        margin-top: 30px;
    }
    .direct-download-icon {
        width: 40%;
    }
    .about_app_section .about_img {
        display: none;
    }
    .about_app_section .about_img::before {
        display: none;
    }
    .app-store {
        left: 0%;
    }
    .ios-tutorial {
        width: 60%;
    }
    .ios-testflight-download {
        width: 40%;
    }
    .footer-download {
        width: 40%;
    }
    .anim_line {
        display: none;
    }
    .section_title h2 {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}